@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

* {
    font-family: "Montserrat";
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 1i procra0px;
    background-color: gainsboro;
    margin: 10px;
}

.search_bar {
    width: 50%;
}