@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

* {
    font-family: "Montserrat";
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-image: url('../images/background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    margin: 100px 9% 10px 9%;
    text-shadow: 2px 2px #f8f0fc;
}

form {
    height: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-basis: auto; 
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 15px;
    background-color: #f3f0ff;
    border-width: 10px;
    border-color: #6741d9;
    box-shadow: inset 1px 1px #d0bfff;
    padding: 10px;
}

#search_bar {
    width: 50vmin;
    height: 36px;
    font-size: 14pt;
    text-align: center;
    border-radius: 5px;
    border-color: #f3f0ff;
    background-color: #f3f0ff;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset;
    padding-left: 63px;
}

#search_bar:focus{
    outline: none;
}

#search_bar:focus::placeholder{
    color: transparent;
}

#submit {
    border-radius: 15px;
    border-style: solid;
    background-color: #b197fc;
    border-color: #b197fc;
    box-shadow: 1.5px 1.5px #d0bfff;
    height: 34px;
    width: auto;
}

#submit:hover {
    background-color: #845ef7;
    border-color: #845ef7;
    cursor: pointer;
}

#submit:active {
    background-color: #7048e8;
    border-color: #7048e8;
}

.search_result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location {
    text-transform:capitalize;
    align-self: center;
    padding: 0;
    margin: 10px;
    height: max-content;
}

#temperature {
    font-size: 60pt;
    margin: 0px;
}

#weather_icon {
    width: 100px;
    image-resolution: 300dpi;
    align-self: center;
    margin-top: 10px;
}

#forecast {
    margin: 0px;
    font-size: 24pt;
}

/* Tablet Breakpoint */
@media only screen and (min-width: 600px) {
    body {
        font-size: 20pt;
        text-align: center;
        height: 100%;
    }

    h2 {
        margin-top: 150px;
    }

    form {
        justify-content: center;
        margin: 20px auto 40px auto;
    }

    #search_bar {
        height: 40px;
        font-size: 18pt;
    }

    #submit {
        height: 38px;
        font-size: 20pt;
    }
}


/* Desktop Breakpoint */
@media only screen and (min-width: 850px) {
    body {
        font-size: 22pt;
        justify-content: center;
    }

    h2 {
        margin: 10px auto 10px auto;
    }

    form {
        column-gap: 10px;
        justify-content: center;
        margin: 20px auto 20px auto;
    }


    .search_result {
        align-self: center;
        width: 500px;
        display: grid;
        grid-template-rows: repeat(5, 40px);
        grid-template-columns: repeat(10, 50px);
        text-align: left;
    }

    #location {
        grid-column: 4/11;
        font-size: 24pt;
        margin: 0;
    }

    #temperature {
        grid-row: 2/5;
        grid-column: 4/11;
        font-size: 40pt;
        margin-bottom: 10px;
    }

    #weather_icon {
        grid-row: 2;
        grid-column: 1/11;
        width: 120px;
        margin: 0;
    }

    #forecast {
        grid-column: 4/11;
        grid-row: 4;
    }

    #search_bar {
        max-width: 360px;
        padding-left: 50px;
    }
}